
.services-bar {
    padding-left: 0px !important;
}

.services-image {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
}

img {
    cursor: pointer;
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.2);
}

.services-title {
    font-size: 1.5rem;
}

.services-text {
    font-size: 0.875rem;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: #fd7e14;
}

/* media */



@keyframes scrollShow {
    0% {
        opacity: 0;
        transform: translate(-150px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}